2-3-0/IndignaFwk.Business.Agents/Service References/InG4Service/ExposeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExposeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/AppServer/ExposeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/AppServer/ExposeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/AppServer/ExposeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExposeService_ObtenerContenidosPorTematica_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerContenidosPorTematica" />
  </wsdl:message>
  <wsdl:message name="IExposeService_ObtenerContenidosPorTematica_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerContenidosPorTematicaResponse" />
  </wsdl:message>
  <wsdl:message name="IExposeService_ObtenerConvocatoriasPorTematica_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConvocatoriasPorTematica" />
  </wsdl:message>
  <wsdl:message name="IExposeService_ObtenerConvocatoriasPorTematica_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConvocatoriasPorTematicaResponse" />
  </wsdl:message>
  <wsdl:portType name="IExposeService">
    <wsdl:operation name="ObtenerContenidosPorTematica">
      <wsdl:input wsaw:Action="http://tempuri.org/IExposeService/ObtenerContenidosPorTematica" message="tns:IExposeService_ObtenerContenidosPorTematica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExposeService/ObtenerContenidosPorTematicaResponse" message="tns:IExposeService_ObtenerContenidosPorTematica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerConvocatoriasPorTematica">
      <wsdl:input wsaw:Action="http://tempuri.org/IExposeService/ObtenerConvocatoriasPorTematica" message="tns:IExposeService_ObtenerConvocatoriasPorTematica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExposeService/ObtenerConvocatoriasPorTematicaResponse" message="tns:IExposeService_ObtenerConvocatoriasPorTematica_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IExposeService" type="tns:IExposeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerContenidosPorTematica">
      <soap:operation soapAction="http://tempuri.org/IExposeService/ObtenerContenidosPorTematica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerConvocatoriasPorTematica">
      <soap:operation soapAction="http://tempuri.org/IExposeService/ObtenerConvocatoriasPorTematica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExposeService">
    <wsdl:port name="BasicHttpBinding_IExposeService" binding="tns:BasicHttpBinding_IExposeService">
      <soap:address location="http://localhost/AppServer/ExposeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>