trunk/IndignaFwk_G4/IndignaFwk.UI.Process/Service References/ConvocatoriaService/ConvocatoriaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Convocatoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coordenadas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="tns:Grupo" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LogoUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quorum" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Convocatoria" nillable="true" type="tns:Convocatoria" />
  <xs:complexType name="Grupo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coordenadas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="tns:Imagen" />
      <xs:element minOccurs="0" name="Layout" nillable="true" type="tns:Layout" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tematica" nillable="true" type="tns:Tematica" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grupo" nillable="true" type="tns:Grupo" />
  <xs:complexType name="Imagen">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Imagen" nillable="true" type="tns:Imagen" />
  <xs:complexType name="Layout">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreLayout" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Layout" nillable="true" type="tns:Layout" />
  <xs:complexType name="Tematica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCSS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tematica" nillable="true" type="tns:Tematica" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conectado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Coordenadas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="tns:Grupo" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="tns:Imagen" />
      <xs:element minOccurs="0" name="ListaTematicas" nillable="true" type="tns:ArrayOfTematica" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pregunta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Respuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfTematica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tematica" nillable="true" type="tns:Tematica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTematica" nillable="true" type="tns:ArrayOfTematica" />
  <xs:complexType name="ArrayOfConvocatoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Convocatoria" nillable="true" type="tns:Convocatoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConvocatoria" nillable="true" type="tns:ArrayOfConvocatoria" />
  <xs:complexType name="Contenido">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="tns:Grupo" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NivelVisibilidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoContenido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contenido" nillable="true" type="tns:Contenido" />
  <xs:complexType name="ArrayOfContenido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contenido" nillable="true" type="tns:Contenido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContenido" nillable="true" type="tns:ArrayOfContenido" />
  <xs:complexType name="AsistenciaConvocatoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Convocatoria" nillable="true" type="tns:Convocatoria" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AsistenciaConvocatoria" nillable="true" type="tns:AsistenciaConvocatoria" />
  <xs:complexType name="ArrayOfAsistenciaConvocatoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AsistenciaConvocatoria" nillable="true" type="tns:AsistenciaConvocatoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAsistenciaConvocatoria" nillable="true" type="tns:ArrayOfAsistenciaConvocatoria" />
  <xs:complexType name="MarcaContenido">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contenido" nillable="true" type="tns:Contenido" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TipoMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioMarca" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarcaContenido" nillable="true" type="tns:MarcaContenido" />
</xs:schema>