trunk/IndignaFwk_G4/IndignaFwk.UI.Process/Service References/GrupoService/GrupoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GrupoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1281/GrupoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1281/GrupoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1281/GrupoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" />
      <xsd:import schemaLocation="http://localhost:1281/GrupoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Enumeration" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGrupoService_CrearGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearGrupo" />
  </wsdl:message>
  <wsdl:message name="IGrupoService_CrearGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IGrupoService_ObtenerListadoGrupos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListadoGrupos" />
  </wsdl:message>
  <wsdl:message name="IGrupoService_ObtenerListadoGrupos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListadoGruposResponse" />
  </wsdl:message>
  <wsdl:message name="IGrupoService_ObtenerGrupoPorUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGrupoPorUrl" />
  </wsdl:message>
  <wsdl:message name="IGrupoService_ObtenerGrupoPorUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGrupoPorUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IGrupoService_ObtenerGrupoPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGrupoPorId" />
  </wsdl:message>
  <wsdl:message name="IGrupoService_ObtenerGrupoPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGrupoPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IGrupoService">
    <wsdl:operation name="CrearGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrupoService/CrearGrupo" message="tns:IGrupoService_CrearGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrupoService/CrearGrupoResponse" message="tns:IGrupoService_CrearGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListadoGrupos">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrupoService/ObtenerListadoGrupos" message="tns:IGrupoService_ObtenerListadoGrupos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrupoService/ObtenerListadoGruposResponse" message="tns:IGrupoService_ObtenerListadoGrupos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGrupoPorUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrupoService/ObtenerGrupoPorUrl" message="tns:IGrupoService_ObtenerGrupoPorUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrupoService/ObtenerGrupoPorUrlResponse" message="tns:IGrupoService_ObtenerGrupoPorUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGrupoPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrupoService/ObtenerGrupoPorId" message="tns:IGrupoService_ObtenerGrupoPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrupoService/ObtenerGrupoPorIdResponse" message="tns:IGrupoService_ObtenerGrupoPorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGrupoService" type="tns:IGrupoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearGrupo">
      <soap:operation soapAction="http://tempuri.org/IGrupoService/CrearGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListadoGrupos">
      <soap:operation soapAction="http://tempuri.org/IGrupoService/ObtenerListadoGrupos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGrupoPorUrl">
      <soap:operation soapAction="http://tempuri.org/IGrupoService/ObtenerGrupoPorUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGrupoPorId">
      <soap:operation soapAction="http://tempuri.org/IGrupoService/ObtenerGrupoPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GrupoService">
    <wsdl:port name="BasicHttpBinding_IGrupoService" binding="tns:BasicHttpBinding_IGrupoService">
      <soap:address location="http://localhost:1281/GrupoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>