1-0-0/IndignaFwk.UI.Process/Service References/UsuarioService/UsuarioService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IndignaFwk.Business.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IndignaFwk.Business.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ListaTematicas" nillable="true" type="tns:ArrayOfTematica" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreguntaSeguridad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RespuestaSeguridad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfTematica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tematica" nillable="true" type="tns:Tematica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTematica" nillable="true" type="tns:ArrayOfTematica" />
  <xs:complexType name="Tematica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tematica" nillable="true" type="tns:Tematica" />
</xs:schema>