trunk/IndignaFwk_G4/IndignaFwk.UI.Process/Service References/SistemaService/SistemaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVariableSistema">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VariableSistema" nillable="true" type="tns:VariableSistema" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVariableSistema" nillable="true" type="tns:ArrayOfVariableSistema" />
  <xs:complexType name="VariableSistema">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VariableSistema" nillable="true" type="tns:VariableSistema" />
</xs:schema>