1-0-0/IndignaFwk.UI.Process/Service References/ConvocatoriaService/ConvocatoriaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost//IndignaFwk//2012" elementFormDefault="qualified" targetNamespace="http://localhost//IndignaFwk//2012" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1281/ConvocatoriaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndignaFwk.Business.Entities" />
  <xs:element name="crearConvocatoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IndignaFwk.Business.Entities" minOccurs="0" name="convocatoria" nillable="true" type="q1:Convocatoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearConvocatoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crearConvocatoriaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>