2-7-0/IndignaFwk.UI.Process/Service References/ContenidoService/ContenidoService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AppServer/ContenidoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" />
  <xs:element name="CrearNuevoContenido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" minOccurs="0" name="contenido" nillable="true" type="q1:Contenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearNuevoContenidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearNuevoContenidoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoContenidosPorGrupoYVisibilidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="visibilidadContenido" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoContenidosPorGrupoYVisibilidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" minOccurs="0" name="ObtenerListadoContenidosPorGrupoYVisibilidadResult" nillable="true" type="q2:ArrayOfContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerXContenidosMasRankeadosPorGrupoYVisibilidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
        <xs:element minOccurs="0" name="visibilidadContenido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="x" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerXContenidosMasRankeadosPorGrupoYVisibilidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" minOccurs="0" name="ObtenerXContenidosMasRankeadosPorGrupoYVisibilidadResult" nillable="true" type="q3:ArrayOfContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContenidoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContenido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContenidoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" minOccurs="0" name="ObtenerContenidoPorIdResult" nillable="true" type="q4:Contenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarListaContenido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContenido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarListaContenidoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorGrupoNoEliminado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorGrupoNoEliminadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" minOccurs="0" name="ObtenerListadoPorGrupoNoEliminadoResult" nillable="true" type="q5:ArrayOfContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContenidoEliminadoPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContenidoEliminadoPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" minOccurs="0" name="ObtenerContenidoEliminadoPorUsuarioResult" nillable="true" type="q6:ArrayOfContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcaContenidoPorUsuarioYContenido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idContenido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcaContenidoPorUsuarioYContenidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" minOccurs="0" name="ObtenerMarcaContenidoPorUsuarioYContenidoResult" nillable="true" type="q7:MarcaContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearNuevaMarcaContenido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" minOccurs="0" name="marcaContenido" nillable="true" type="q8:MarcaContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearNuevaMarcaContenidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearNuevaMarcaContenidoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarMarcaContenido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" minOccurs="0" name="marcaContenido" nillable="true" type="q9:MarcaContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarMarcaContenidoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContenidoConMarcas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContenidoConMarcasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" minOccurs="0" name="ObtenerContenidoConMarcasResult" nillable="true" type="q10:Contenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoPorGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" minOccurs="0" name="ObtenerListadoPorGrupoResult" nillable="true" type="q11:ArrayOfContenido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>