IndignaFwk_G4/IndignaFwk.UI.Process/Service References/GrupoReference/GrupoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost//IndignaFwk//2012" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost//IndignaFwk//2012" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost//IndignaFwk//2012/Imports">
      <xsd:import schemaLocation="http://localhost:1281/GrupoService.svc?xsd=xsd0" namespace="http://localhost//IndignaFwk//2012" />
      <xsd:import schemaLocation="http://localhost:1281/GrupoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1281/GrupoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" />
      <xsd:import schemaLocation="http://localhost:1281/GrupoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Enumeration" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGrupoService_CrearGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearGrupo" />
  </wsdl:message>
  <wsdl:message name="IGrupoService_CrearGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearGrupoResponse" />
  </wsdl:message>
  <wsdl:message name="IGrupoService_ObtenerListadoGrupos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListadoGrupos" />
  </wsdl:message>
  <wsdl:message name="IGrupoService_ObtenerListadoGrupos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListadoGruposResponse" />
  </wsdl:message>
  <wsdl:message name="IGrupoService_ObtenerGrupoPorUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGrupoPorUrl" />
  </wsdl:message>
  <wsdl:message name="IGrupoService_ObtenerGrupoPorUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGrupoPorUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="IGrupoService">
    <wsdl:operation name="CrearGrupo">
      <wsdl:input wsaw:Action="http://localhost//IndignaFwk//2012/IGrupoService/CrearGrupo" message="tns:IGrupoService_CrearGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost//IndignaFwk//2012/IGrupoService/CrearGrupoResponse" message="tns:IGrupoService_CrearGrupo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListadoGrupos">
      <wsdl:input wsaw:Action="http://localhost//IndignaFwk//2012/IGrupoService/ObtenerListadoGrupos" message="tns:IGrupoService_ObtenerListadoGrupos_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost//IndignaFwk//2012/IGrupoService/ObtenerListadoGruposResponse" message="tns:IGrupoService_ObtenerListadoGrupos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGrupoPorUrl">
      <wsdl:input wsaw:Action="http://localhost//IndignaFwk//2012/IGrupoService/ObtenerGrupoPorUrl" message="tns:IGrupoService_ObtenerGrupoPorUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost//IndignaFwk//2012/IGrupoService/ObtenerGrupoPorUrlResponse" message="tns:IGrupoService_ObtenerGrupoPorUrl_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>