1-2-0/IndignaFwk.UI.Process/Service References/GrupoService/GrupoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1281/GrupoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" />
  <xs:element name="CrearGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" minOccurs="0" name="grupo" nillable="true" type="q1:Grupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearGrupoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoGrupos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListadoGruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" minOccurs="0" name="ObtenerListadoGruposResult" nillable="true" type="q2:ArrayOfGrupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerGrupoPorUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerGrupoPorUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" minOccurs="0" name="ObtenerGrupoPorUrlResult" nillable="true" type="q3:Grupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerGrupoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerGrupoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IndignaFwk.Common.Entities" minOccurs="0" name="ObtenerGrupoPorIdResult" nillable="true" type="q4:Grupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>